.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  border: none;
  padding: 10px 15px;
  background-color: #ebe5e5;
  color: #000000;
  font-weight: 700;
  margin-left: 5px;
  margin-right: 5px;
  text-transform: uppercase;
  font-family: inherit;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 2px 2px 0 rgb(0 0 0 / 0.5);
  transition: box-shadow 250ms linear;
}

.button:active {
  color: #ffffff;
  background-color: rgb(106, 115, 250);
  box-shadow: 2px 5px 2px 0 rgb(0 0 0 / 0.5);
}
